body{
    background-color: #EAE9D8;
    
}
header{
    background-color: aliceblue;
    border:2px groove ;
    text-align: center;
    font-size: 15px;
}

#corpo{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
    background-color:whitesmoke;
    
    
}
    #exemploDT{
        position: relative;
        max-width: 500px;
        
    }