body{
    background-color: #f8f7f3;
    
}
header{
    background-color: #606060;
    border:2px groove ;
    text-align: center;
    font-size: 15px;
}

#corpo{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    /* margin-left: 10px; */
    margin-right: 70%;
    align-items: start;
    background-color:whitesmoke;
    
}
    #exemploDT{
        position: relative;
        max-width: 500px;
        border-radius: 10%;
        
        
    }