body{
    background-color: #f8f7f3;
    display: flex;
    flex-direction: column;
    
    
}
header{
    background-color: #606060;
    border:2px groove ;
    text-align: center;
    font-size: 15px;
}
.corpo{
    margin: 50px;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color:whitesmoke;
    
}
.textoDatawr{
    margin-left: 500px;
    margin-right: 500px;
}
.exemploDT{
        position: relative;
        max-width: 500px;
        border-radius: 10%;
        /* margin-left: 5%; */
       justify-content: center; 
    }
